@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap');
h1 {
    color:slateblue;
}
p {
    color:darkslateblue;
    font-size: 25px;
    font-family: 'Alegreya Sans', sans-serif;

}

body{
    margin-left: 30px;
    margin-right: 100px;
    text-align: center;
}

a{
    font-size: 20px;
    font-family: 'Zilla Slab', sans-serif;
    text-decoration: none;
    border: 3px;
    border-color: rgb(253, 253, 253);
    border-style: outset;
    background-color: rgba(255, 255, 255, 0.589);
    color:slateblue
    
}

a:hover{
    color:white;
    background-color: cornflowerblue;
}
