h1 {
    color:slateblue;
}
p {
    color:darkslateblue;
    font-size: 20px;
}

body{
    margin-left: 30px;
    margin-right: 100px;
    text-align: center;
}

a{
    font-size: 20px;
    border: 3px;
    border-color: rgb(253, 253, 253);
    border-style: outset;
    background-color: rgba(255, 255, 255, 0.589);
    color:slateblue
}
